@font-face {
font-family: 'Marvin';
font-style: normal;
src: url('../../public/fonts/Marvin.ttf')  format('truetype');
}

@font-face {
font-family:'poppins';
src: url('../../public/fonts/Poppins-Regular.ttf')  format('truetype');
}

h1,h2,h3,h4,h5,h6
{
	font-family: 'Marvin';
}

.font
{
font-family: 'Marvin';	
}
.popfont
{
font-family: 'poppins'!important;	
}
.tab_css
{
	margin-right: auto;
	border-radius: 40px;
}

.tab_css1
{
height: 110%;
border-bottom-left-radius: 40px;
border-bottom-right-radius: 40px;
width: 115%;
}

.l11
{
	background-color: #1d3d7a;
}
.l22
{
	background-color: lightgreen;
}
.l33
{
	background-color: red;
}
.l44
{
	background-color: yellow;
}
.l55
{
	background-color: blue;
}
.l66
{
	background-color: #1d3d7a;
}
.tab-nav
{
background:url("http://dummyimage.com/3375x2000/ebb0eb/f0f7fa.jpg") no-repeat center;
background-size: 100%;
height: 1200px;
}
.widthhrd
{
	margin: 0px 50px !important;
}
.headpart
{
	margin: 0% -1% 0% -2%;
}
.index1
{
	padding-top: 50%;
}
.indexfont
{
	font-size: 26px;
}
.spanfont0
{
	font-size: 12px;
}
.spanfont
{
	font-size: 12px;
}
.imgfile
{
	width:90%; 
	height:150px;
}
.imgfile2
{
	width:200px; 
	height:100px;
}
.spanfont6
{
	font-size: 14px;
}
.spanfont6:hover
{
	color: blue;
}
.spanfont2
{
	font-size: 18px;
}
.spanfont3
{
	font-size: 20px;
}

.spanfont4
{
	height: 200px;
	padding: 0px 20px 0px 20px;
		font-size: 18px;

}
.spanfont5
{
	padding: 0px 20px 0px 20px;
	font-size: 18px;

}
.spanfont7
{
	font-size: 20px;
}

.popfont2
{
color: white;
font-family: 'poppins';	
}
.charthome6
{
	margin-top: -45px;
	z-index: 1;
	margin-left: 90.5%;
}
.fontsize
{
font-size: 20px;
color: #1d3d7a;
}

.h11
{
margin-left: 10px;
font-size: 30px;
color: #1d3d7a;

}
.centertext
{
	text-align: center !important;
}
.h12
{
font-size: 20px;
color: #1d3d7a !important;

}
.font2
{
color: #1d3d7a;

}
.car1
{
	width: 5% !important;
}
.faicon1
{
	color: #1d3d7a; 
	font-size: 40px;
}
.header2
{
	font-family: 'Marvin';
}

.font1
{
font-size: 16px;
font-family: 'Marvin';	
text-align: center;
}

.font3
{
font-size: 16px;
font-weight: bold;
color: #1d3d7a;
font-family:"poppins";
}
.a11
{
  color: white !important;
}
.hname
{

margin-top: -6% !important;
border: 1px solid #1d3d7a;
font-size: 16px;
font-family: 'Marvin';	
text-align: center;
}
.video1
{
	width: 100% !important;
	height: 100% !important;
}
.bg1
{
	background-color: #1d3d7a;
}
.imgcol1
{
	margin-top:-1% !important;
  margin-left: -2.5% !important;
}
.imgcol2
{
	width: 240px;
	 	max-width: 24% !important;

}
#white
{
	color: #ffffff;
}
.bgbr1
{  
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	background-color: #1d3d7a;
}
.slide2
{
	height: 420px;
}
.hrd2
{
width: 90px; 
background-color: #1d3d7a;
border: 1px solid #1d3d7a;
}
.head2{
margin-left: 1% !important;
}

.iptx{
width: 100% !important;
font-size: 14px;
border: 1px solid #1d3d7a;
padding: 10px;
border-radius: 3px ;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
font-family: 'Marvin';	
text-align: start;
-webkit-appearance: textfield;
opacity: 0.7;
}

.iptx2{
width: 100% !important;
font-size: 14px;
border: 1px solid #1d3d7a;
padding: 10px;
border-radius: 50px ;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
font-family: 'Marvin';	
text-align: start;
-webkit-appearance: textfield;
opacity: 0.7;
}
.hrd1
{
	border: 1px solid #1d3d7a;  
	border:none;
	height: 20px;
	width: 100%;
	height: 50px;
	margin-top: 0;
	box-shadow: 0 20px 20px -20px #333;
	margin: -50px auto 10px;
}

.hrd2
{
	border: 1px solid #fff;  
	border:none;
	height: 20px;
	width: 100%;
	height: 50px;
	margin-top: 0;
	box-shadow: 0 20px 20px -20px #fff;
	margin: -50px auto 10px;
}
.bgbr2
{
	border-radius: 6px;
	border: 2px solid #fff;
	margin-top: 20px;
	margin-bottom: 20px;
}

.wrapper1 {
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
 margin-top: 100px;
}

.regbtn
{
background-color :#255295 ;
border: none;
border-radius: 10px ;
color: white !important;
font-weight: 500;
padding: 10px 18px;
font-family: 'Marvin';	
text-align: center;
text-decoration: none;
font-size: 16px;
display: block;
    border: none;
    border-color: white;
}


.btn11
{
background-color :#255295 ;
border: none;
border-radius: 10px ;
color: white !important;
font-weight: 500;
padding: 10px 18px;
text-align: center;
text-decoration: none;
font-size: 16px;
    border: none;
    border-color: white;
}
*:focus
{
 outline: none;
}

.containerab
{
	background-image: url('../../public/images/buddy store template-2.png');
	background-size: 100%;
	width: 100%;
	background-repeat: no-repeat;
	height: 700px;
}


  .containerabc {
  }
  .circle-left2{
    position: absolute;
    width: 100%;
    height: 100%;

  } .circle-left2, .circle-right2 {
    position: absolute;
  }
  img {
    padding: 0;
  }
  .circle-right2 {
    z-index:1;
    object-fit: cover;
    overflow: hidden;
    margin-top: -9% !important;
  }

.regbtn1
{
background-color :#255295 ;
border: none;
border-radius: 50px ;
color: white !important;
font-weight: 500;
padding: 10px 18px;
font-family: 'Marvin';	
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

.regbtn2
{
width: 100% !important;
background-color :#255295 ;
border: none;
border-radius: 50px ;
color: white !important;
font-weight: 500;
padding: 10px;
font-family: 'Marvin';	
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

.regbtn3
{
width: 100% !important;
background-color :#255295 ;
border: none;
border-radius: 50px ;
color: white !important;
font-weight: 500;
padding: 10px;
font-family: 'Marvin';	
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}
.cnclbtn
{
width: 100% !important;
background-color :#fff ;
border: 1px solid #255295;
border-radius: 50px ;
color: #255295 !important;
font-weight: 500;
padding: 10px;
font-family: 'Marvin';	
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;

}

.image_picker_image {
    max-width: 100px;
    max-height: 100px;
    background-color: #FF0000;
}
.addprof
{
border-color:#255295 ;
border : solid 1px #1d3d7a;
border-radius: 5px ;
margin-bottom: 10px;
}
.addprof2
{
border-color:#255295 ;
border-radius: 5px ;
}

.addimg
{
border-color:#255295 ;
border : solid 1px #1d3d7a;
border-radius: 12px ;
width:100%;
}
.addimg1
{
padding : 10px;
border-color:#255295 ;
border-radius: 12px ;
width: 100%;
}
.product-chooser-item
{
padding: 5px;
}
.addimg4
{
width: 100%;
height: 100%;
}
.addimg2
{
padding : 10px;
border-color:#255295 ;
width: 100%;
height: 100%;
}
.imgtxt,.imgtxt1
{
	position: absolute;

}
.imgtxt1
{
    z-index:1;

}
.fontsize1
{
	font-size: 20px;
}
.make1
{
	font-size: 40px;
}
.imghght
{
	background-image: url('../../public/images/mainimg1.jpeg');
	width: 100%;
	height: 500px;
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	background-size:  100% 100%;
}
.datalist1 {
  font-size: 14px;
}

.checkimg { position: relative; width: 100px; height: 100px; float: left; margin-left: 10px; }
.boximg { bottom: 0px; right: 0px; }
.addback
{
width: 100%;
border-color:#255295 ;
border : solid 1px #1d3d7a;
border-radius: 10px ;
font-family: 'Marvin';	
}

.create1
{
margin-left: 55%;
font-family: 'Marvin';	
}

div.ex0 {
overflow-y: scroll;
overflow-x: hidden;
border-radius: 5px;
height: 35%;
}
div.ex1 {
overflow-y: scroll;
overflow-x: hidden;

border-radius: 5px;
height: 300px !important;
}
div.ex2 {
border-radius: 5px;
overflow-y: scroll;
overflow-x: hidden;
height: 83%;
}
div.ex3 {
border-radius: 5px;
overflow-y: scroll;
overflow-x: hidden;
height: 350px !important;
}


div.ex5 {
margin-top: -60%;
background-color: white;
padding-left: 2%;
margin-left: 18%;
overflow-y: scroll;
overflow-x: hidden;
}
div.ex7 {
border-radius: 5px;
overflow-y: scroll;
overflow-x: hidden;
height: 85%;
}
div.ex8 {
border-radius: 5px;
overflow-y: scroll;
overflow-x: hidden;
height: 69%;
}
div.ex10
{
	overflow-y: scroll;
    overflow-x: hidden;
    height: 250px !important;
}
.startbehaviour1
{
}
.startbehaviour1:hover
{
	background-color: lightgray;
}
.startbehaviour1 a:hover
{
	text-decoration: none;
}
.startbehaviour1:a
{

}


#containerrow {
overflow-x: scroll; 
width: 750px;

}
#contentrow {
width: 1210px;
white-space: nowrap;
}
#containerrow2 {
overflow-x: scroll; 
width: 750px;

}
#contentrow2 {
width: 1240px;
white-space: nowrap;
}
#cmarg{
    margin-top: 4% !important;
}

.signup{
font-family: 'Marvin';	
background-color: #fc5757;
font-size: 14px;
font-weight: 500;
padding: 10px 30px;
text-align: center;
border:none;
border-radius: 3px;
color: #ffffff;
text-transform: uppercase;
}
.image1
{
display: block;
margin-left: auto;
margin-right: auto;
height: 500px;
}
.btn1{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}
.hh
{
font-family: 'Marvin';	
text-align: center ;
font-size: 34px;
color: #ffffff;
font-weight: 800;
}
.col91
{
	margin-left: -8% !important;
}
.col92
{
	margin-left: -3% !important;
}

.col93
{
	margin-left: -2% !important;
}
.bgimgprch
{
	width: 80%;
	height: 100px;
}
.number1
{
	margin-top: 15%; 
	margin-left: 25%;
}

.number2
{
	margin-top: 10%; 
	margin-left: 5%;
}

.emailfluid{ margin-top: 50px; height: 100% !important; width: 100% !important; overflow:hidden !important;}
span.appsMaterialWizButtonPaperbuttonContent{ background: #fc5757 !important;}

.nav-link
{
color: rgb(0 123 255) !important;
}
.img5
{
	width: 100%;
	height: 100px !important;
}
.blogo
{
width: 60px;
height: 70px;
border-radius: 10px;
}
.blog2
{
width: 130px;
height: 140px;
}

#learnMore::before {
display: block;
content: " ";
margin-top: -65px;
height: 65px;
visibility: hidden;
}

.dropcontrol{
	height: 110px;
}
.item{
	margin-top: -30px !important; 	
}
.blogo2
{
width: 60px;
height: 60px;
}
.blogo4
{
width: 100%;
height: 50px;
}

.table1
{
	border-radius: 5px;
	border-color: #1d3d7a !important;
	border: 2px solid #1d3d7a !important;
}
.fontsize2
{
font-size: 22px;
color: #1d3d7a;
font-family:"poppins";
}

.blogo1
{
width: 110px;
height: 130px;
padding: 2px;
border-radius: 5px ;

}
.hlogo
{
	border: 1px solid #1d3d7a !important;
	width: 70px;
	height: 70px;
	border-radius: 6px ;

}
.navab
{
margin-top: -10px;
}

@media only screen and (max-width: 1200px) 
{
.main-nav{
margin-left: 10%;
}
.main-nav li{
margin-left: 25px;
}
.hh {
font-size: 30px;
}

.image1 {
margin-top: 5%;   
}

div.ex2 {
    height: 70%;

}
div.ex8 {
   height: 240px;
}
.col99
{
	margin-top:-6%;
	margin-left: -3.5% !important;
}
.make1
{
	font-size: 32px;
}
.cmarg3{
    margin-top: 5% !important;
}

}

@media only screen and (max-width: 991px) 
{
.main-nav{
margin-left: 10%;
}
.main-nav li{
margin-left: 22px;
}
.spanfont2, .main-nav li a
{
	font-size: 26px;
}
.hh {
font-size: 32px;
}
.widthabc
{
 	max-width: 24% !important;
}
.imgcol2
{
	width: 165px;
}
.rowcal2
{
	margin-top: -6%;
}
.imgfile
{
    width: 89%;
    height: 61%;
}
.imgfile2
{
    width: 70%;
}

.spanfont
{
	font-size: 34px;
}

.spanfont0
{
	font-size: 28px;
}
.spanfont4
{
	padding: 0px 120px 0px 120px;
	font-size: 28px !important;

}
.spanfont5
{
	padding: 0px 50px 0px 50px;
	font-size: 32px;

}
.bgimgprch
{
	width: 70%;
	height: 100px;
}

.image1 {
margin-top: 2%;  

}
.slide2
{
	height: 600px;
}
.index1
{
	margin-top: 0% !important;
}
.righta
{
margin-left: 35%;
}
.make1
{
	font-size: 32px;
}
div.ex0 {
    height: 25%;
}

div.ex2 {
    height: 69%;
}

div.ex7 {
   height: 82%;
}
div.ex8 {
   height: 52%;
}

div.ex13 {
   height: 198px !important;
}

.navbar-toggler-icon
{
	width: 4em !important;
    height: 3em !important;
}
.imghght
{
	background-image: url('../../public/images/main page image_mobile1.jpg');
	text-align: center;
	height: 840px !important;
	background-size: 100%;
}
.charthome6
{
	margin-top: -32px;
}
.spanfont6
{
	font-size: 26px;
}
.h11
{
	font-size: 36px !important;
	margin-left: 22% !important;
	float: left;
	margin-top: -16%;
}
.h12
{
font-size: 34px;
}

.fontsize1
{
	font-size: 34px
}
.car1
{
	width: 7% !important;
}
.faicon1
{
	font-size: 60px;
}
.btn11
{
	font-size: 34px;
}
.indexfont
{
	font-size: 34px;
}
.mtmob{ margin-top: -3% !important;}

#containerrow {
overflow-x: scroll; 
width: 650px;

}
#contentrow {
width: 1000px;
white-space: nowrap;
}
#containerrow2 {
overflow-x: scroll; 
width: 550px;
padding-left: -50px;
margin-left: -22px;

}
#contentrow2 {
width: 1000px;
white-space: nowrap;
}
.number1
{
	margin-top: 12%;
	margin-left: -2%; 
}
.number2
{
	margin-top: 12%;
	margin-left: 10%; 
}
.mrgn1
{
	margin-top: -5% !important;
}
.mt-5, .my-5 {
    margin-top: 0px!important;
}
.mdldialog{
	margin-left: 1% !important;
	margin-top: 10rem !important;
}

.mdldialog2{
	margin-left: 8rem !important;
	margin-top: 10rem !important;
}
.smalscrn1
{
	padding: 2rem !important;
	width: 60rem !important;
    height: auto !important;

}
.smalscrn2
{
	padding: 5rem !important;
	width: 60rem !important;
    height: 70rem !important;

}
.smalscrn3
{
	width: 45rem !important;
    height: auto !important;
}
.mdlbdy
{
	margin-top: 2% !important;
}
.iptx{
font-size: 34px;
padding: 16px;
}

.iptx2{
border-radius: 200px;
font-size: 30px;
padding: 12px;
}
.regbtn
{
font-size: 28px;
}


.regbtn2
{
padding: 12px;
font-size: 34px;
}
.regbtn3
{
padding: 12px;
font-size: 26px;
}
.regbtn1
{
padding: 20px 36px;
font-size: 34px;
}
.cnclbtn
{
padding: 20px;
font-size: 34px;

}
.blogo1
{
width: 160px;
height: 200px;
}
div.ex1
{
	    height: 485px !important;
}
.spanfont3
{
	text-align: center !important;
	margin: auto !important;
	font-size: 34px;
}
.spanfont7
{
	font-size: 34px;
}

}

@media only screen and (max-width: 768px) 
{
.main-nav{
margin-left: 0px;
margin-right: 10px;
float:right;
}
.main-nav li{
margin-left: 20px;
}
.hh {
font-size: 26px;
}

.image1 {
margin-top: 1%;
}

.topnav a:not(:first-child)
{
display: none;
}
.topnav a.icon 
{
float: right;
display: block;
}

.topnav.responsive 
{
position: relative;
}
.topnav.responsive .icon 
{
position: absolute;
right: 0;
top: 0;
}
.topnav.responsive a 
{
float: none;
display: block;
text-align: left;
}
.righta
{
margin-left: 10%;
}

.spanfont4
{
	height: 170px;
	padding: 0px 100px 0px 100px;
	font-size: 16px;
	padding-top: 20px;
			
}
.spanfont5
{
	padding: 0px 40px 0px 40px;
	font-size: 28px;

}
.faicon1
{
	font-size: 50px;
}

}



@media only screen and (max-width: 580px) 
{
.main-nav{
margin-left: 0px;
margin-right: 0px;
float:left;
}
.main-nav li{
margin-left: 10px;
}
.main-nav li a{
font-size: 12px;
}
.hh {
font-size: 22px;
}

.image1 {
margin-top: 0%; 
}

.spanfont4
{
	height: 150px;
	padding: 0px 50px 0px 50px;
	font-size: 16px;
			
}
.faicon1
{
	font-size: 40px;
}
}