     .marginPods{
        margin-top: 200px !important;
    }
    #avatar{
        height: 100px !important;
        width: 100% !important;
        display: block;
        position: fixed;
        top:20px;
        left:76% !important;
        z-index: 9999;
        float: right;
    }
    .bg1
{

    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    border : 1px solid #a4a4a4;
    background-color: #0275d8 ;
}
    .chracm{
        background-color: #14d24d;
            border-radius: 10px;
            padding: 3% 10% !important;
            width: 160px;
            margin: 5%; 
    
        }
    .chracText{
            font-size: 24px;
            font-weight: bold;
        }
        .charcAvatar{
            height: 65px;
            width: 65px;
            background-color: white !important;
            border-radius: 10px;
            padding: 3%;
     }
        
.imgClass {
width: 75px !important;
height: 75px !important;
margin-left: 35%;
margin-bottom: 25%;
}    
    
#home{
display: block;
position: fixed;
top:50px;
left:5%;
z-index: 9999;
float: right;
}

#tokenRotate5{
    margin-left: 20%;
}

    .nextbackRow{
        position: fixed;
        bottom: 0;
        top:100;
        display: flex;
        justify-content: flex-end;
        left: 0;
        right: 0;
        position: fixed;
    }
    .nextbackRow2{
        position: fixed;
        bottom: 50;
        top:0;
        display: flex;
        justify-content: center;
        left: 0;
        right: 0;
    }
    #containerrow {
        overflow-x: scroll;
        width: "12.5%";

    }

    #contentrow {
        width: 3000px;
        white-space: nowrap;
    }

    html {
        scroll-behavior: smooth;
        overflow: scroll;
    }

    ::-webkit-scrollbar {
        /* width: 0px;
        background: transparent; */
        display: none;
    }

    .tokenID {
        margin-left: 5%;
        padding-bottom: 25%;
    }

    .tech-slideshow {
        width: 100% !important;
        
        background-size: 100%; 
        background-repeat: no-repeat !important;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
        background-attachment: fixed;
        background-position: center;
    }

    .tech-slideshow>div {
        width: 100% !important;
         
        position: absolute;
        background-size: 100%; 
        background-repeat: no-repeat !important;
        top: 0;
        left: 0;
        transform: translate3d(0, 0, 0);
        background-attachment: fixed;
        background-position: center
        ;
    }

    .tech-slideshow .mover-1 {
        animation: moveSlideshow 12s linear infinite;
    }

    .tech-slideshow .mover-2 {
        opacity: 0;
        transition: opacity 0.5s ease-out;
        background-position: 0 -200px;
        animation: moveSlideshow 15s linear infinite;
    }

    @keyframes moveSlideshow {
        100% {
            transform: translateX(-66.6666%);
        }
    }


    .roundModal {
        border-radius: 30px;
    }

    .modal {
        height: 100%;
        width: 100%;
    }

    .imgClass {
        /* max-width: 200px;
        min-width: 50px; */
        width: 85px;
        height: 90px;
        /* max-height: 120px;
        min-height: 50px; */
        margin-left: 40%;
    }


    .object {
        animation: MoveUpDown 2s linear infinite;
        position: absolute;
        left: 0;
        bottom: 0;
        margin-bottom: 100px;
    }

    .object2 {
        animation: MoveUpDown 2s linear infinite;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 100;
    }


    .pod {
        margin-top: 200px;
        width: "3%";
    }

    .pod2 {
        width: "3%";
    }

    .rewardID {
        margin-left: -10%;
    }

    @keyframes MoveUpDown {

        0%,
        100% {
            bottom: 0;
        }

        50% {
            bottom: 15px;
        }
    }

    #tokenRotate1,
    #tokenRotate2,
    #tokenRotate3,
    #tokenRotate4,

    #tokenRotate6,
    #tokenRotate7,
    #tokenRotate8,
    #tokenRotate9,
    #tokenRotate10,
    #tokenRotate11,
    #tokenRotate12,
    #tokenRotate13,
    #tokenRotate14,
    #tokenRotate15,
    #tokenRotate16,
    #tokenRotate17,
    #tokenRotate18,
    #tokenRotate19,
    #tokenRotate20,
    #tokenRotate21,
    #tokenRotate22,
    #tokenRotate23,
    #tokenRotate24,
    #sm-tokenRotate1,
#sm-tokenRotate2,
#sm-tokenRotate3,
#sm-tokenRotate4,
#sm-tokenRotate5,
#sm-tokenRotate6,
#sm-tokenRotate7,
#sm-tokenRotate8,
#sm-tokenRotate9,
#sm-tokenRotate10,
#sm-tokenRotate11,
#sm-tokenRotate12,
#sm-tokenRotate13,
#sm-tokenRotate14,
#sm-tokenRotate15,
#sm-tokenRotate16,
#sm-tokenRotate17,
#sm-tokenRotate18,
#sm-tokenRotate19,
#sm-tokenRotate20,
#sm-tokenRotate21,
#sm-tokenRotate22,
#sm-tokenRotate23,
#sm-tokenRotate24  {
        padding-bottom: 15%;
        margin-left: 30%;
        /* margin: 0 auto; */
        -webkit-animation: rotation 2s infinite linear;
    }

    @-webkit-keyframes rotation {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotateY(359deg);
        }
    }

    .SmallScreen {
        display: none;
    }
    .fullscreen
    {
        display: block;
    }

    
    @media only screen and (max-width: 991px) and (orientation: landscape) {
        /* html {
            transform: rotate(-90deg);
            transform-origin: left top;
            width: 100vh;
            overflow-x: hidden;
            position: absolute;
            top: 100%;
            left: 0;
          } */
        
        .marginPods{
            margin-top: 100px !important;
            z-index: 999 !important;
        }
        .homeButton{
            width: 100px !important;
        }
        .nameContainer{
            width: 300px !important;
        }
        .circle-right2{
            margin-top: -9.5% !important;
        }
        .SmallScreen {
            display: block;
        }
        .fullscreen
        {
            display: none;
        }
        #avatar{
    
            left:75% !important;
        }
    
        .tech-slideshow {
            height: 450px !important;
            background-size: 100% !important;
        }
        
        .tech-slideshow>div {
            height: 450px !important;
            background-size: 100% !important;

        }
        
        .tech-slideshow .mover-1 {
            animation: moveSlideshow 14s linear infinite;
        }
        .back-sm{
            width: 80px !important;
        }
        .next-sm{
            width: 80px !important;
        }
        .nextbackRow
      {
        /* position: fixed; */
        top: 80%;
        display: flex;
        justify-content: center;
      }

        .imgClass {
            width: 80px;
            height: 80px;
            margin-left: 30%;
            margin-bottom: 20%;
            z-index: 999 !important;
        }
        
        @keyframes moveSlideshow {
            100% {
                transform: translateX(-67.6666%);
            }
        }
      
      #containerrow{
          margin-top: 15%;
      }
      .counterFontSize{
          font-size: 30px;
          font-weight: bold;
    
      }  
    
      
    .pod {
        margin-left: 5% !important;
        /* margin-top: 110% !important; */
        width: "10%" !important;
        height: 20%;
    }
    
    .pod2 {
        width: "5%";
        margin-left: 5% !important;
    }
    
    
    
    .imgClass2
    {
    max-width: 100px !important;
    }
    .tokenID {
        margin-left: -6%;
        padding-bottom: 25%;
    }
    /* #tokenRotate5{
        height: 70px;
        width: 70px;
    } */
    
    }
    
   @media only screen 
and (max-width: 1024px) {
      .nextbackRow{
          bottom: 1250px;
      }
  }
    
    @media only screen and (max-width: 768px) {
    
    }
    
    @media only screen and (max-width : 480px) {
    
    }