 .marginPods{
    margin-top: 300px !important;
}
#avatar{
    height: 100px !important;
    width: 100% !important;
    display: block;
    position: fixed;
    top:20px;
    left:80%;
    z-index: 9999;
    float: right;
}
#home{
 display: block;
position: fixed;
top:50px;
left:5%;
z-index: 9999;
float: right;
}

    .bg1
{

    border-radius: 10px;
    padding: 5px;
    border : 1px solid #a4a4a4;
    background-color: #0275d8 ;
}
    .chracm{
        background-color: #14d24d;
            border-radius: 10px;
            padding: 3% 7% !important;
            width: 160px;
            margin: 3.5%; 
    
        }
    .chracText{
            font-size: 24px;
            font-weight: bold;
        }
        .charcAvatar{
            height: 65px;
            width: 65px;
            background-color: white !important;
            border-radius: 10px;
            padding: 3%;
     }
        

.nextbackRow{
    position: fixed;
    bottom: 0;
    top:100;
    display: flex;
    justify-content: flex-end;
    left: 0;
    right: 0;
    position: fixed;
}
.nextbackRow2{
    position: fixed;
    bottom: 50;
    top:0;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
}
#containerrow {
    overflow-x: scroll;
    width: "12.5%";

}

#contentrow {
    width: 3000px;
    white-space: nowrap;
}

html {
    scroll-behavior: smooth;
    overflow: scroll;
}

::-webkit-scrollbar {
    /* width: 0px;
    background: transparent; */
    display: none;
}
.tokenID {
    margin-left: 5%;
    padding-bottom: 35%;
}

.tech-slideshow {
    width: 1600px !important;
    margin: 0 auto;
      background-size: 100%; 
      background-repeat: no-repeat !important;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    background-attachment: fixed;
    background-position: center;
}

.tech-slideshow>div {
    width: 1600px !important;
    position: absolute;
      background-size: 100%; 
      background-repeat: no-repeat !important;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    background-attachment: fixed;
}

.tech-slideshow .mover-1 {
    animation: moveSlideshow 12s linear infinite;
}

.tech-slideshow .mover-2 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 -200px;
    animation: moveSlideshow 15s linear infinite;
}

@keyframes moveSlideshow {
    100% {
        transform: translateX(-66.6666%);
    }
}


.roundModal {
    border-radius: 30px;
}

.modal {
    height: 100%;
    width: 100%;
}

.imgClass {
    /* max-width: 200px;
    min-width: 50px; */
    width: 85px;
    height: 90px;
    /* max-height: 120px;
    min-height: 50px; */
    margin-left: 40%;
    /* margin-bottom: 5%; */
}

#tokenRotate7{
    margin-left: 20%;
}

.object {
    animation: MoveUpDown 2s linear infinite;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 100px;
}

.object2 {
    animation: MoveUpDown 2s linear infinite;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 100;
}


.pod {
    margin-top: 150px;
}


.rewardID {
    margin-left: -10%;
}

@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: 15px;
    }
}

#tokenRotate1,
#tokenRotate2,
#tokenRotate3,
#tokenRotate4,
#tokenRotate5,
#tokenRotate6,

#tokenRotate9,
#tokenRotate10,
#tokenRotate11,
#tokenRotate12,
#tokenRotate13,
#tokenRotate14,
#tokenRotate15,
#tokenRotate16,
#tokenRotate17,
#tokenRotate18,
#tokenRotate19,
#tokenRotate20,
#tokenRotate21,
#tokenRotate22,
#tokenRotate23,
#tokenRotate24,
#sm-tokenRotate1,
#sm-tokenRotate2,
#sm-tokenRotate3,
#sm-tokenRotate4,
#sm-tokenRotate5,
#sm-tokenRotate6,
#sm-tokenRotate7,
#sm-tokenRotate8,
#sm-tokenRotate9,
#sm-tokenRotate10,
#sm-tokenRotate11,
#sm-tokenRotate12,
#sm-tokenRotate13,
#sm-tokenRotate14,
#sm-tokenRotate15,
#sm-tokenRotate16,
#sm-tokenRotate17,
#sm-tokenRotate18,
#sm-tokenRotate19,
#sm-tokenRotate20,
#sm-tokenRotate21,
#sm-tokenRotate22,
#sm-tokenRotate23,
#sm-tokenRotate24  {
    padding-bottom: 15%;
    margin-left: 30%;
    /* margin: 0 auto; */
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotateY(359deg);
    }
}

.SmallScreen {
    display: none;
}
.fullscreen
{
    display: block;
}

@media only screen and (max-width: 991px) {
    .SmallScreen {
        display: block;
    }
    .fullscreen
    {
        display: none;
    }
    #avatar{

        left:70%;
    }

    .tech-slideshow {
        height: 1000px !important;
        background-size: 150% !important;
        width: 1800px !important;

    }
    
    .tech-slideshow>div {
        height: 1000px !important;
        width: 1800px !important;


    }
    
    .tech-slideshow .mover-1 {
        animation: moveSlideshow 14s linear infinite;
    }
        
    @keyframes moveSlideshow {
        100% {
            transform: translateX(-67.6666%);
        }
    }
    .nextbackRow
    {
      /* position: fixed; */
      top: 80%;
      display: flex;
      justify-content: center;
    }
  #containerrow{
      margin-top: 15%;
  }
  .counterFontSize{
      font-size: 30px;
      font-weight: bold;

  }  
  .imgClass {
    width: 100px;
    height: 100px;
}

  
.pod {
    margin-left: 5% !important;
}

.pod2 {
    width: "5%";
    margin-left: 5% !important;
}


  .imgClass {
    width: 130px;
    height: 140px;
    /* margin-left: 20% */
    /* margin-bottom: 15%; */
}

.imgClass2
{
max-width: 120% !important;
}
.tokenID {
    margin-left: 12%;
    padding-bottom: 35%;
}

}

@media only screen 
and (max-width: 1024px) {
    .marginPods{
        margin-top: 220px !important;
    }
    .nextbackRow{
        bottom: 1500px;
    }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width : 480px) {

}