
.img{
	height: 30%;
	width: 20%;
	margin-right: auto;
	margin-left: auto; 
}
.imgl{
	height: 80%;
	width: 100%; 
	margin-top: 10%;
}
.img5{
	width: 60% !important;
	margin-left: 40px  !important;
}
.img2{
	-webkit-transform:rotate(340deg);
  -moz-transform: rotate(340deg);
  -ms-transform: rotate(340deg);
  -o-transform: rotate(340deg);
	transform: rotate(340deg);
	height: 70%;
	width: 60%; 
	margin-top: 70px;
	margin-left:10px; 

}
.row1{
	margin-top: 30px;
}
.rot{
  

}
.img3{
	
	margin-top: 100px;
	}
.text1{
	margin-top: 130px;
}
.text2{
	
	margin-top: 70px;
}
.text3{
	
	margin-top: 300px;
}

@media only screen and (max-width: 991px) {

.font{
	font-size: 18px;
}
.img{
	height: 60%;
	width: 50%;
}
.img5{
	width: 70% !important;
	margin-left: 40px  !important;
}

.text1{
	margin-top: 0px !important;
	font-size: 36px;
}
.text2{
	
	margin-top:150px !important;
	font-size: 36px;
}
.text3{
	
	margin-top: 0px !important;
	font-size: 36px;
}
.img2{
	margin-top: 100px !important;
	margin-left: 35px !important;
	 

}
.img3{

	margin-left: 200px !important;
	}
}
