
div.clear
{
  clear: both;
}

div.product-chooser
{
}

div.product-chooser.disabled div.product-chooser-item
  {
    zoom: 1;
    filter: alpha(opacity=60);
    cursor: default;
  }

div.product-chooser div.product-chooser-item{
    cursor: pointer;
    position: relative;
  }
  
div.product-chooser div.product-chooser-item.selected{
    opacity: .5;
    filter: alpha(opacity=100);
  }
  
div.product-chooser div.product-chooser-item img{
    }
    
div.product-chooser div.product-chooser-item span.title{
      display: block;
      margin: 10px 0 5px 0;
      font-weight: bold;
      font-size: 12px;
      width: 60%;
      height: 40%;
    }
    
div.product-chooser div.product-chooser-item span.description{
      font-size: 12px;
    }
    
    div.product-chooser div.product-chooser-item input{
      position: absolute;
      left: 0;
      top: 0;
      visibility:hidden;
    }
  