 * {box-sizing: border-box}
body {
  font-family: Marvin; 
}


.tab {
  margin-right: 25%;
  float: right;
  background-color: #fff;
  width: 8%;
  border: 3px solid #1d3d7a;
  border-radius: 20px;

}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 10px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #fff;
  border: 20px;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: right;
  width: 40%;
  background-color: #1d3d7a;
  border-radius: 20px;
}
.tab, .tabcontent {
height: 450px;
}


.checkimg1 {margin-left: 0px; }
.boximg1 { bottom: 0px; right: 0px; margin-left: -13px; }
.boximg2 { bottom: 0px; right: 0px; margin-left: -37px; }

.tabimg1
{
  width: 200px;
  height: 300px;
}
.tabimg2
{
  width: 150px;
  height: 150px;
}
div.ex3 {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 150px;
}
div.ex4 {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 225px;
}

.tabclr
{
  padding: 50px;

}
.tab1
{
  padding: 50px;

}
.boximg2
{
      margin-left: -36px;
}

.page1
{
  width: 100%;
  height: auto;
}
.tab2
{

}

.budy1
{
  background-color: #ffffff
}

.tablinks
{
  border-radius: 20px;
}


@media only screen and (max-width: 991px) 
{

.tab {
  margin-right: 10%;
  width:20%;
  height: 830px;
}


.tabcontent {

  height: 830px;
  width: 60%;
}
}